*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  padding: 3rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

a {
  font-size: 1.6rem;
  color: #777;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    animation: moveInleft 1s ease-in 0s;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .heading-primary--sub {
    animation: moveInright 1s ease-in 0s;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.67rem; }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading-secondary {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform .2s ease;
  -webkit-text-fill-color: transparent; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skew(20deg, 2deg) scale(1.1); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  margin-bottom: 3rem;
  font-size: 1.6rem; }

.d-none {
  display: none; }

.text-uppercase {
  text-transform: uppercase; }

.abs-full, .btn::after, .card__side, .bg-video, .popup, .navigation__nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.abs-center, .popup__content, .booking-form__radio-button::after, .story__caption, .navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 5rem; }

.mt-xl {
  margin-top: 8rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 5rem; }

.mb-xl, .story:not(:last-child) {
  margin-bottom: 8rem; }

.btn, .btn:visited, .btn:link {
  position: relative;
  display: inline-block;
  padding: .6rem 1.5rem;
  font-size: 1.6rem;
  border: none;
  transition: all .2s ease; }

.btn--xs {
  padding: .2rem .6rem !important; }

.btn--md {
  padding: .8rem 2.4rem !important; }

.btn--lg {
  padding: 1.2rem 3.6rem !important; }

.btn:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    opacity: 0;
    transform: scale(1.5); }

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem); }

.btn::after {
  content: ''; }

.btn--text {
  color: #55c57a;
  border-bottom: 1px solid #28b485; }
  .btn--text:hover {
    color: #fff;
    background-color: #55c57a; }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  color: #fff;
  background-color: #55c57a; }
  .btn--primary::after {
    background-color: #55c57a; }

.btn--rounded, .btn--rounded::after {
  border-radius: 10rem; }

.btn--animated {
  animation: moveInbottom 0.5s ease-out 0.75s;
  /* hide the appearance at the begining by applying the first keyframe style values */
  animation-fill-mode: backwards; }

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .btn--animated::after {
    z-index: -1;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out; }

.card {
  position: relative;
  height: 52rem;
  perspective: 150rem; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__side {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .8s ease;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
    .card__side--back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__side--back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__side--back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to top right, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to top right, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to top right, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-align: right;
    text-transform: uppercase; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to top right, rgba(255, 185, 0, 0.85) rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to top right, rgba(126, 213, 111, 0.85) rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to top right, rgba(41, 152, 255, 0.85) rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
  .card__detail-item {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }
    .card__detail-item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card__price-box {
    color: #fff; }
  .card__price-only {
    font-size: 1.6rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.bg-video {
  z-index: -1;
  opacity: .2; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.popup {
  position: fixed;
  z-index: 2500;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity    .3s ease-in-out; }
  .popup__content {
    width: 80vw;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
    transition: opacity .2s ease-in-out .2s, transform .2s ease-in-out .2s; }
  .popup__content-inner {
    display: table; }
  .popup__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    line-height: 1; }
    .popup__close:hover {
      color: #55c57a; }
  .popup__left, .popup__right {
    display: table-cell; }
  .popup__left {
    width: 33.33333%; }
  .popup__right {
    width: 66.66667%;
    padding: 3rem;
    vertical-align: middle; }
  .popup__picture {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    -ms-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 1px solid #eee;
    -moz-column-rule: 1px solid #eee;
    -ms-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.booking-form__group:not(:last-child) {
  margin-bottom: 2rem; }

.booking-form__input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom .3s ease-in-out; }
  .booking-form__input::-webkit-input-placeholder {
    color: #999; }
  .booking-form__input:focus {
    border-bottom: 3px solid #55c57a;
    outline: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
    .booking-form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }

.booking-form__label {
  display: block;
  margin-top: .7rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  transition: transform .3s ease-out, opacity .3s ease-out; }

.booking-form__input:placeholder-shown + .booking-form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-3rem); }

.booking-form__radio-input:checked ~ .booking-form__radio-label .booking-form__radio-button::after {
  opacity: 1; }

.booking-form__radio-label {
  font-size: 1.6rem; }

.booking-form__radio-button {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  vertical-align: middle;
  border: 0.5rem solid #55c57a;
  border-radius: 50%; }
  .booking-form__radio-button::after {
    width: 1.3rem;
    height: 1.3rem;
    content: '';
    background-color: #55c57a;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s ease; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    z-index: 10;
    width: 60%;
    border-radius: 2px;
    outline-offset: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: transform .3s ease; }
    .composition__photo:hover {
      z-index: 20;
      outline: 1rem solid #55c57a;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      transform: scale(1.05); }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform .3s ease-in; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.05); }
  .feature-box__icon {
    display: block;
    font-size: 6rem;
    background-image: linear-gradient(to right bottom, #7ed56f 40%, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform: skewX(-10deg); }
  .story__box {
    padding: 6rem 6rem 6rem 9rem;
    transform: skewX(10deg); }
  .story__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .story__shape:hover .story__photo {
    -webkit-filter: blur(0.2rem) brightness(70%);
    filter: blur(0.2rem) brightness(70%);
    transform: scale(1); }
  .story__shape:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__photo {
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    transition: transform .4s ease-in-out;
    object-fit: cover; }
  .story__caption {
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(-50%, 20%);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out; }

.container {
  max-width: 114rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  margin-right: -2rem;
  margin-left: -2rem; }
  .row::after {
    display: table;
    clear: both;
    content: ''; }
  .row [class^='col-'] {
    float: left;
    padding-right: 2rem;
    padding-left: 2rem; }
  .row .col-1 {
    width: 8.33333%; }
  .row .col-2 {
    width: 16.66667%; }
  .row .col-3 {
    width: 25%; }
  .row .col-4 {
    width: 33.33333%; }
  .row .col-5 {
    width: 41.66667%; }
  .row .col-6 {
    width: 50%; }
  .row .col-7 {
    width: 58.33333%; }
  .row .col-8 {
    width: 66.66667%; }
  .row .col-9 {
    width: 75%; }
  .row .col-10 {
    width: 83.33333%; }
  .row .col-11 {
    width: 91.66667%; }
  .row .col-12 {
    width: 100%; }

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  width: 6rem;
  height: 6rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1.21); }

.navigation__nav {
  position: fixed;
  z-index: 1500;
  counter-reset: list-item;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.1, -0.2, 0.4, 1.27); }

.navigation__list-item {
  counter-increment: list-item; }
  .navigation__list-item:not(:last-child) {
    margin-bottom: 1rem; }

.navigation__link {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  transition: all .4s ease; }
  .navigation__link::before {
    margin-right: 1.5rem;
    content: "0" counter(list-item); }
  .navigation__link:hover {
    color: #55c57a;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-position: 100%;
    background-size: 220%;
    transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(0); }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #333;
    transition: top       .3s ease, transform .3s ease; }
  .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    left: 0;
    content: ''; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(405deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-405deg); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to top right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    animation: moveInright 1s ease-in 0s;
    height: 3.5rem; }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .header__text-box {
    position: absolute;
    top: 37.5vh;
    /* a half of the cutted header background */
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.footer {
  padding: 10rem 0;
  background-color: #333; }
  .footer__list {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #777; }
  .footer__list-item {
    display: inline-block; }
    .footer__list-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    display: inline-block;
    font-size: 1.4rem;
    color: #f2f2f2;
    text-transform: uppercase;
    transition: transform .2s ease, box-shadow .2s ease; }
    .footer__link:hover {
      color: #55c57a;
      background-color: #333;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
      transform: rotate(5deg) scale(1.2); }
  .footer__copyright {
    float: right;
    width: 80%;
    padding-top: 2rem;
    font-size: 1.4rem;
    color: #f2f2f2;
    border-top: 1px solid #777; }

.section-about {
  margin-top: -20vh;
  padding: 20rem 0;
  background-color: #f2f2f2; }

.section-features {
  position: relative;
  height: 95vh;
  margin-top: -10vh;
  padding: 25rem 0;
  background-image: linear-gradient(to top right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-5deg);
  /* Use this selector below as you might not know or care about the direct child
  & > * {
    transform: skewY(5deg);
  }
  */ }
  .section-features__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) skewY(5deg); }

.section-tours {
  margin-top: -10vh;
  padding: 20rem 0 15rem;
  background-color: #f2f2f2; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8) 40%, rgba(40, 180, 133, 0.8)); }
  .section-booking__box {
    height: 50rem;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .section-booking__box-inner {
    width: 50%;
    padding: 5rem; }
