@mixin animateInDirection($direction, $duration: 1s, $ease: ease-in, $delay: 0s) {
  animation: moveIn#{$direction} $duration $ease $delay;

  $topDirection: (0: translateY(-10rem), 80: translateY(1rem), 100: translateY(0));
  $leftDirection: (0: translateX(-10rem), 80: translateX(1rem), 100: translateX(0));
  $rightDirection: (0: translateX(10rem), 80: translateX(-1rem), 100: translateX(0));
  $bottomDirection: (0: translateY(10rem), 80: translateY(-1rem), 100: translateY(0));

  $directions: (
    'left': $leftDirection,
    'right': $rightDirection,
    'bottom': $bottomDirection
  );

  $currentDirection: map-get($directions, $direction);

  @keyframes moveIn#{$direction} {
    0% {
      opacity: 0;
      transform: map-get($currentDirection, 0);
    }
  
    80% {
      transform: map-get($currentDirection, 80);
    }
  
    100% {
      opacity: 1;
      transform: map-get($currentDirection, 100);
    }
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Table portrait
900 - 1200px:   Table landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
*/

/*
$breakpoint:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  $breakpoints: (
    phone:        'max-width: 37.5em',   // 600px
    tab-port:     'max-width: 56.25em',   // 900px
    tab-land:     'max-width: 75em',  // 1200px
    big-desktop:  'min-width: 112.5em'   // 1800px
  );

  @media (map-get($breakpoints, $breakpoint)) {
    @content
  }
}