// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f2f2f2;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-black-1: #333;

// FONT
$font-size-default: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;
$font-size-xl: 6rem;

// GRID
$grid-width: 114rem;
$grid-gutter: 2rem;

// BOX SHADOW
$box-shadow-primary: 0 1rem 2rem rgba($color-black, .2);
$box-shadow-secondary: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-tertiary: 0 .5rem 1rem rgba($color-black, .2);
$box-shadow-darker: 0 1rem 2rem rgba($color-black, .5);
$box-shadow-lighter: 0 .25rem .5rem rgba($color-black, .1);

// BORDER
$border-radius-default: 3px;

// Z-INDEX
$z-index-navigation-bg: 1000;
$z-index-navigation-nav: 1500;
$z-index-navigation-button: 2000;
$z-index-popup: 2500;
