.container {
  max-width: $grid-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

.row {
  margin-right: -$grid-gutter;
  margin-left: -$grid-gutter;

  &::after {
    display: table;
    clear: both;
    content: '';
  }

  [class^='col-'] {
    float: left;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      width: percentage($i / 12);
    }
  }
}
