.header {
  position: relative;
  height: 85vh;
  background-image:
    linear-gradient(
      to top right,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ), url(../img/hero-small.jpg);
  background-position: top;
  background-size: cover;

  // Don't matter what values you used `polygon(0 0)`
  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(tab-port) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
  }

  // If the user is 2x screen resolution and match the conditions below
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         (min-width: 75em) {
    background-image:
    linear-gradient(
      to top right,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ), url(../img/hero.jpg);
  }
  
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    @include animateInDirection(right);

    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 42.5vh;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      top: 37.5vh; /* a half of the cutted header background */

      @include respond(tab-port) {
        top: 42.5vh;
      }
    }
  }
}
