.header {
  position: relative;
  height: 95vh;
  background-image:
    linear-gradient(
      to top right,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    @include animateInDirection(right);

    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 37.5vh; /* a half of the cutted header background */
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      top: 42.5vh;
    }
  }
}
