.booking-form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }
  }
  
  &__input {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    font-family: inherit;
    font-size: $font-size-sm;
    color: inherit;
    background-color: rgba($color-white, .8);
    border: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom .3s ease-in-out;

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus {
      border-bottom: 3px solid $color-primary;
      outline: none;
      box-shadow: $box-shadow-lighter;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }
  
  &__label {
    display: block;
    margin-top: .7rem;
    margin-left: 2rem;
    font-size: $font-size-xs;
    transition: transform .3s ease-out, opacity .3s ease-out;
  }

  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3rem);
  }

  &__radio-box {
    @include respond(tab-port) {
      padding: 1rem 0 !important;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-label {
    font-size: $font-size-default;
  }

  &__radio-button {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
    border: .5rem solid $color-primary;
    border-radius: 50%;

    &::after {
      @extend .abs-center;

      width: 1.3rem;
      height: 1.3rem;
      content: '';
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}
