.btn {
  &:visited,
  &:link {
    position: relative;
    display: inline-block;
    padding: 1.2rem 3.6rem;
    text-transform: uppercase;
  }
  
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
  
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  &--white {
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }
  
  &--rounded,
  &--rounded::after {
    border-radius: 10rem;
  }
  
  &--animated {
    @include animateInDirection(bottom, .5s, ease-out, .75s);

    transition: transform .2s ease-in;
    /* hide the appearance at the begining by applying the first keyframe style values */
    animation-fill-mode: backwards;

    &::after {
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;
      z-index: -1;
    }
  }
}