.btn {

  &,
  &:visited,
  &:link {
    position: relative;
    display: inline-block;
    padding: .6rem 1.5rem;
    font-size: $font-size-default;
    border: none;
    transition: all .2s ease;
  }

  &--xs {
    padding: .2rem .6rem !important;
  }
  
  &--md {
    padding: .8rem 2.4rem !important;
  }

  &--lg {
    padding: 1.2rem 3.6rem !important;
  }
  
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-primary;
    transform: translateY(-.3rem);

    &::after {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  &:active,
  &:focus {
    outline: none;
    box-shadow: $box-shadow-tertiary;
    transform: translateY(-.1rem);
  }
  
  &::after {
    @extend .abs-full;

    content: '';
  }

  &--text {
    color: $color-primary;
    border-bottom: 1px solid $color-primary-dark;

    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
  
  &--white {
    color: $color-gray-dark;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }
  
  &--rounded,
  &--rounded::after {
    border-radius: 10rem;
  }
  
  &--animated {
    @include animateInDirection(bottom, .5s, ease-out, .75s);

    /* hide the appearance at the begining by applying the first keyframe style values */
    animation-fill-mode: backwards;

    &::after {
      z-index: -1;
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }
  }
}
