.btn {
  padding: .6rem 1.5rem;
  
  &:visited,
  &:link {
    position: relative;
    display: inline-block;
    transition: all .2s ease;
  }

  &--xs {
    padding: .2rem .6rem;
  }

  &--lg {
    padding: 1.2rem 3.6rem;
  }
  
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
  
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--text {
    color: $color-primary;
    border-bottom: 1px solid $color-primary-dark;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
  
  &--white {
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }
  
  &--rounded,
  &--rounded::after {
    border-radius: 10rem;
  }
  
  &--animated {
    @include animateInDirection(bottom, .5s, ease-out, .75s);

    /* hide the appearance at the begining by applying the first keyframe style values */
    animation-fill-mode: backwards;

    &::after {
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;
      z-index: -1;
    }
  }
}