body {
  padding: 3rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
}

a {
  font-size: $font-size-default;
  color: $color-gray-dark;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;

  &--main {
    @include animateInDirection(left);

    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
  }
  
  &--sub {
    @include animateInDirection(right);

    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.67rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;

  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;

  transition: transform .2s ease;
  -webkit-text-fill-color: transparent;

  &:hover {
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    transform: skew(20deg, 2deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: $font-size-default;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 3rem;
  font-size: $font-size-default;
}
