.section-about {
  margin-top: -20vh;
  padding: 20rem 0;
  background-color: $color-gray-light-1;
}

.section-features {
  position: relative;
  height: 95vh;
  margin-top: -10vh;
  padding: 25rem 0;

  background-image:
    linear-gradient(
      to top right,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;

  transform: skewY(-5deg);

  /* Use this selector below as you might not know or care about the direct child
  & > * {
    transform: skewY(5deg);
  }
  */

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) skewY(5deg);
  }
}

.section-tours {
  margin-top: -10vh;
  padding: 20rem 0 15rem;
  background-color: $color-gray-light-1;
}

.section-stories {
  padding: 15rem 0;
}
